<!-- 알림 설정 페이지 -->
<div class="bellsetPage">
  <div class="contHead">
    <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
    <span class="headerFont">설정</span>
  </div>
  <div class="contArea">
      <ul>
        <li>
          <div class="setList">
            <p class="mnuTit">솔루션 요청 알림</p>
            <input type="checkbox" id="solution"><label for="solution"></label>
          </div>
        </li>
        <li>
          <div class="setList">
            <p class="mnuTit">안전 뉴스 알림</p>
            <input type="checkbox" id="savenew"><label for="savenew"></label>
          </div>
        </li>
      </ul>
  </div>
</div>
<!-- 알림 설정 페이지 End -->