  <!-- 카메라 팝업  -->
  <div class="camPop">
    <div class="shadow">
      <div class="nexBtn">
        <div class="btnArea">
          <ul>
            <!-- <li>
              <p id="cameraDel" onclick="">현재 사진 삭제</p>
            </li> -->
            <li>
              <p id="cameraTakePicture" onclick="">사진 찍기</p>
            </li>
            <li>
              <p id="cameraGetPicture" onclick="">라이브러리에서 선택</p>
            </li>
          </ul>
        </div>
        <a href="#" onclick="backButton(this)">취소</a>
      </div>
    </div>
  </div>
  <!-- 카메라 팝업 End -->