<!-- 비밀번호 재설정 -->
<div class="confPasswordPage">
  <div class="contHead">
    <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
    <span class="headerFont">신규비밀번호</span>
  </div>
  <div class="confPassword">
    <p><em></em>비밀번호 재설정</p>
    <div class="creapass" id="crepass1">
      <p>비밀번호</p>
      <div class="newpassBox" id="p1">
        <div class="inputFrame">
          <input type="password" placeholder="영문자, 숫자 특수문자를 조합한 8~15자리" onkeyup="signUpPass1Check(this)" id="pass1">
        </div>
        <span class="frame"><img src="img/check.png" alt=""></span>
        <span class="frame1" onclick="ConfPassViewClick()"><img src="img/passx.png" alt=""></span>
        <span class="frame2" onclick="ConfPassViewClick()"><img src="img/passo.png" alt=""></span>
        <span>영문자, 숫자, 특수문자를 조합한 8~15 자리로 입력해주세요.</span>
      </div>
    </div>
    <div class="creapass" id="crepass2">
      <p>비밀번호 확인</p>
      <div class="newpassBox" id="p2">
        <div class="inputFrame">
          <input type="password" value="" placeholder="비밀번호 재입력" onkeyup="signUpPass2Check(this)" id="pass2">
        </div>
        <span class="frame"><img src="img/check.png" alt=""></span>
        <span class="frame1" onclick="ConfPassViewClick2()"><img src="img/passx.png" alt=""></span>
        <span class="frame2" onclick="ConfPassViewClick2()"><img src="img/passo.png" alt=""></span>
        <span>비밀번호가 일치하지 않습니다.</span>
      </div>
    </div>
    <div class="nextBtn"><a href="#" id="confPasswordnext">다음</a></div>
  </div>

  <script>
    // 비밀번호 Type변경 (눈 모양 슬래쉬 기능) 
    function ConfPassViewClick() {
      console.log('snf')
      var a1 = $('#p1').attr('class');
      if (a1 == "newpassBox") {
        $('#p1').addClass('on')
        $('#pass1').prop("type", "text");
      } else if (a1 == "newpassBox on") {
        $('#p1').removeClass('on')
        $('#pass1').prop("type", "password");
      }
    }

    function ConfPassViewClick2() {
      var a1 = $('#p2').attr('class');
      if (a1 == "newpassBox") {
        $('#p2').addClass('on')
        $('#pass2').prop("type", "text");
      } else if (a1 == "newpassBox on") {
        $('#p2').removeClass('on')
        $('#pass2').prop("type", "password");
      }
    }

    // 에러체크 nextBtn
    function signUpPass1Check(obj) {
      var pw1 = $(obj).val()
      var pw2 = $('#pw2Input').val()
      var reg = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
      if (pw1 == "") {
        $('#crepass1').removeClass('on')
        $('#crepass1').removeClass('err')
      } else {
        if (reg.test(pw1) == false) {
          console.log("비번 1은 양식에 안맞다! ㅠㅠ")
          $('#crepass1').addClass('err')
          $('#crepass1').removeClass('on')
          $('.nextBtn').removeClass('on')
        } else {
          console.log("비번 1은 양식에 맞다! ^^")
          $('#crepass1').addClass('on')
          $('#crepass1').removeClass('err')
          $('.nextBtn').removeClass('on')
        }
      }
    }

    function signUpPass2Check(obj) {
      var pw1 = $('#pass1').val()
      var pw2 = $(obj).val()
      var reg = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
      if (pw2 == "") {
        $('#crepass2').removeClass('on')
        $('#crepass2').removeClass('err')
      } else {
        if (pw1 == pw2) {
          console.log("비번 1과 비번 2는 동일하다! ^^")
          $('#crepass2').addClass('on')
          $('#crepass2').removeClass('err')
          $('.nextBtn').addClass('on')

          $('#confPasswordnext').attr('onclick', 'confOTPMove()')

        } else {
          console.log("비번 1과 비번 2는 다르다!! ㅠㅠ")
          $('#crepass2').addClass('err')
          $('#crepass2').removeClass('on')
          $('.nextBtn').removeClass('on')

          $('#confPasswordnext').attr('onclick', '')
        }
      }
    }
  </script>

</div>
<!-- 비밀번호 재설정 end -->