  <!-- 재해예방가이드 상세페이지 -->
  <div class="disasterguidePage">
    <div class="contHead">
      <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
      <span class="headerFont">재해예방가이드</span>
    </div>
    <div class="disasterguid">
      <!-- <div class="guideCont">
        <span class="frame"><img src="img/t3.png" alt=""></span>
        <p class="tit">서울시, 다중이용시설 화재 예방 '안전관리 가이드북' 보급</p>
        <span>2022-02-16</span>
        <p class="txtArea">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ratione laudantium impedit vero itaque</p>
      </div> -->
    </div>
    <script>
      $(function () {
        var scHeight = $("#ele").prop("scrollHeight");
        $("#ele").height(scHeight)
        console.log("높이는", scHeight);
      })
    </script>
  </div>
  <!-- 재해예방가이드 End -->