  <!-- 소개페이지1 -->
  <div class="infoPage1" style="display: block;">
    <span class="skip" onclick="loginFn()">Skip</span>
    <p class="tit1">GOLDEN SAFETY</p>
    <div class="info">
      <div class="frame"><img src="img/intlo1.png" alt=""></div>
      <div class="txtArea">
        <p class="tit">언제 어디서나 간편하게!</p>
        <p class="subTit">복잡한 신청 절차는 NO!</p>
        <p>사진만 있다면 언제 어디에서든 신청가능!</p>
        <p>최고의 안전관리 정보제공을 경험하세요.</p>
      </div>
    </div>
    <div class="btmCont">
      <div class="pageBox">
        <div class="pageFrame1"><img src="img/pageActive.png" alt=""></div>
        <div class="pageFrame2"><img src="img/page.png" alt=""></div>
      </div>
      <a href="#" onclick="infoPage2Fn()">다음</a>
    </div>
  </div>
  <!-- 소개페이지1 end -->