  <!-- 소개페이지2 -->
  <div class="infoPage2" style="display: block;">
    <p class="tit1">GOLDEN SAFETY</p>
    <div class="info">
      <div class="frame"><img src="img/intlo2.png" alt=""></div>
      <div class="txtArea">
        <p class="tit">모바일로 항상 안전하게!</p>
        <p class="subTit">안정성 검사가 힘들고 어려울 땐?</p>
        <p>어떤 건물이든 맞춤 솔루션 가능한 </p>
        <p>전문가들이 내 건물의 안전을</p>
        <p>보장해드립니다.</p>
      </div>
    </div>
    <div class="btmCont">
      <div class="pageBox">
        <div class="pageFrame2"><img src="img/page.png" alt=""></div>
        <div class="pageFrame1"><img src="img/pageActive.png" alt=""></div>
      </div>
      <a href="#" onclick="loginFn()">시작하기</a>
    </div>
  </div>
  <!-- 소개페이지2 end -->