  <!-- 대기중인 안전솔루션 상세 페이지 -->
  <div class="mysolutiondetailpage">
    <div class="contHead">
      <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
      <span class="headerFont">내 건물 안전솔루션</span>
    </div>
    <div class="mysolutiondetail">
      <!-- <div class="topCont">
        <div id="touchSlider2">
          <ul>
            <li>
              <span class="frame"><img src="img/t3.jpg" alt=""></span>
            </li>
            <li>
              <span class="frame"><img src="img/t2.png" alt=""></span>
            </li>
            <li>
              <span class="frame"><img src="img/t5.jpg" alt=""></span>
            </li>
            <li>
              <span class="frame"><img src="img/t8.jpg" alt=""></span>
            </li>
          </ul>
        </div>
        <div class="slider-controls">
          <div class="slider-count"></div>
        </div>
      </div> -->
      <!-- <div class="txtArea">
        <ul class="clearfix">
          <li>
            <p>신청일</p>
          </li>
          <li>
            <p>건물종류</p>
          </li>
          <li>
            <p>사용GDST</p>
          </li>
        </ul>
        <ul class="clearfix">
          <li>
            <span>2022.02.16</span>
          </li>
          <li>
            <span>전원주택</span>
          </li>
          <li>
            <span>999,999,999,999</span>
          </li>
        </ul>
      </div>
      <div class="solutionGuide">
        <p class="tit">안전 솔루션 가이드</p>
        <div class="guideCont">
          <div class="gCont">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, fugiat, repellendus quo soluta ea
              mollitia aliquid a magni autem itaque quis in quos iure nemo eos laudantium ipsa dicta! Deleniti.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquid delectus facere fugit nihil
              aliquam, veritatis dicta quisquam veniam adipisci earum molestias animi sint labore voluptatum quis
              inventore harum impedit.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sunt iste corporis ipsam officiis quas
              maiores ut in quod minus voluptas enim pariatur atque, voluptatum laborum doloremque quidem, quae
              perspiciatis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates vel sit, blanditiis facere
              cumque corrupti ea aliquam, culpa tempore, error ab corporis provident at ipsum. Architecto qui ad unde.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates vel sit, blanditiis facere
              cumque corrupti ea aliquam, culpa tempore, error ab corporis provident at ipsum. Architecto qui ad unde.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates vel sit, blanditiis facere
              cumque corrupti ea aliquam, culpa tempore, error ab corporis provident at ipsum. Architecto qui ad unde.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates vel sit, blanditiis facere
              cumque corrupti ea aliquam, culpa tempore, error ab corporis provident at ipsum. Architecto qui ad unde.
            </p>
          </div>
        </div>
      </div> -->
    </div>
    <script>
      // $('#touchSlider2').touchSlider({
      //   controls: false,
      //   paging: false,
      //   initComplete: function (e) {
      //     var _this = this;
      //     var paging = '';
      //     var len = Math.ceil(this._len / this._view);

      //     for (var i = 1; i <= len; i++) {
      //       paging += '<button type="button" class="page">page' + i + '</button>';
      //     }

      //     $(this).next().find('.paging').html(paging).find('.page').on('click', function (e) {
      //       _this.go_page($(this).index());
      //     });
      //   },
      //   counter: function (e) {
      //     $(this).next().find('.page').removeClass('on').eq(e.current - 1).addClass('on');
      //     $(this).next().find('.slider-count').html(e.current + '&nbsp/&nbsp' + e.total);
      //   },
      //   autoplay: {
      //     enable: false,
      //     pauseHover: true,
      //     addHoverTarget: '', // 다른 오버영역 추가 ex) '.someBtn, .someContainer'
      //     interval: 3500
      //   },
      // });
    </script>
  </div>
  <!-- 대기중인 안전솔루션 상세 페이지 End -->