  <!-- 솔루션 안내 팝업 -->
  <div class="resiliPop">
    <div class="shadow"></div>
    <div class="logoutCont">
      <div class="frame"><img src="img/waringicon.png" alt=""></div>
      <p>탈퇴 하시겠습니까?</p>
      <div class="warTxt">
        <span class="frame1"><img src="img/war.png" alt=""></span>
        <span>탈퇴후 삭제된 GDST는 반환되지 않습니다.</span>
      </div>
      <ul class="clearfix">
        <li><a href="#" onclick="backButton(this)">취소</a></li>
        <li><a href="#" onclick="ComingsoonFn()">확인</a></li>
      </ul>
    </div>
  </div>
  <!-- 솔루션 안내 팝업 End -->