  <!-- 안전뉴스 페이지 (재해예방가이드) -->
  <div class="savenewsDISPage">
    <div class="contHead">
      <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
      <span class="headerFont">안전뉴스</span>
    </div>
    <div class="newsClass">
      <ul class="clearfix">
        <li onclick="savenewsALLFn()">
          <p>전체보기</p>
        </li>
        <li onclick="savenewsLAWFn()">
          <p>건축법규</p>
        </li>
        <li onclick="savenewsTECHFn()">
          <p>건축기법</p>
        </li>
        <li onclick="savenewsDISFn()">
          <p class="on">재해예방가이드</p>
        </li>
      </ul>
    </div>
    <div class="saveNews">
      <ul class="clearfix">
        <!-- <li class="nodata">
          <span class="frame"><img src="img/nodata2.png" alt=""></span>
          <p>뉴스 내역이 없습니다.</p>
        </li> -->
        <!-- <li>
          <div class="newsCont">
            <span class="frame"><img src="img/t1.jpg" alt=""></span>
            <div class="txtArea">
              <p>서울시, 다중이용시설 화재 예방 '안전관리 가이드북' 보급 서울시, 다중이용시설</p>
              <span>2022-02-16</span>
              <span class="tt">&nbsp</span>
            </div>
          </div>
        </li>
        <li>
          <div class="newsCont">
            <span class="frame"><img src="img/t1.jpg" alt=""></span>
            <div class="txtArea">
              <p>서울시, 다중이용시설 화재 예방 '안전관리 가이드북' 보급 서울시, 다중이용시설</p>
              <span>2022-02-16</span>
              <span class="tt">&nbsp</span>
            </div>
          </div>
        </li>
        <li>
          <div class="newsCont">
            <span class="frame"><img src="img/t1.jpg" alt=""></span>
            <div class="txtArea">
              <p>서울시, 다중이용시설 화재 예방 '안전관리 가용시설</p>
              <span>2022-02-16</span>
              <span class="tt">&nbsp</span>
            </div>
          </div>
        </li>
        <li>
          <div class="newsCont">
            <span class="frame"><img src="img/t1.jpg" alt=""></span>
            <div class="txtArea">
              <p>서울시, 다중이용시설 화재 예방 '안전관리 가이드북' 보급 서울시, 다중이용시설</p>
              <span>2022-02-16</span>
              <span class="tt">&nbsp</span>
            </div>
          </div>
        </li>
        <li>
          <div class="newsCont">
            <span class="frame"><img src="img/t1.jpg" alt=""></span>
            <div class="txtArea">
              <p>서울시, 다중이용시설 화재 예방 '안전관리 가이드북' 보급 서울시, 다중이용시설</p>
              <span>2022-02-16</span>
              <span class="tt">&nbsp</span>
            </div>
          </div>
        </li>
        <li>
          <div class="newsCont">
            <span class="frame"><img src="img/t1.jpg" alt=""></span>
            <div class="txtArea">
              <p>서울시, 다중이용시설 화재 예방 '안전관리 가이드북' 보급 서울시, 다중이용시설</p>
              <span>2022-02-16</span>
              <span class="tt">&nbsp</span>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
  <!-- 안전뉴스 페이지 (재해예방가이드) End -->