  <!-- 솔루션 등록 팝업 -->
  <div class="savesolutionPop">
    <div class="shadow"></div>
    <div class="logoutCont">
      <div class="frame"><img src="img/clear.png" alt=""></div>
      <p>내 건물 안전솔루션을</p>
      <p>요청하시겠습니까?</p>
      <div class="warTxt">
        <span class="frame1"><img src="img/war.png" alt=""></span>
        <span>가이드 확인은 2~3일 정도 소요됩니다.</span>
      </div>
      <ul class="clearfix">
        <li><a href="#" onclick="backButton(this)">취소</a></li>
        <li><a href="#" onclick="solutionAdd()">확인</a></li>
      </ul>
    </div>
  </div>
  <!-- 솔루션 등록 팝업 End -->