<!-- 안전솔루션요청 페이지 -->
<div class="saveSolutionPage">
  <div class="contHead">
    <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
    <span class="headerFont">안전솔루션 요청</span>
  </div>
  <div class="saveSolution">
    <ul>
      <li onclick="solutionPopFn()">
        <div class="solutionCont">
          <span class="frame"><img src="img/sollogo.png" alt=""></span>
          <span class="frame1"><img src="img/acsollogo.png" alt=""></span>
          <p>안전솔루션 요청하기</p>
          <span class="nexFrame"><img src="img/nextbtn.png" alt=""></span>
        </div>
      </li>
      <li onclick="solutioningFn()">
        <div class="solutionCont">
          <span class="frame"><img src="img/inglogo.png" alt=""></span>
          <span class="frame1"><img src="img/acinglogo.png" alt=""></span>
          <p>대기중인 안전솔루션</p>
          <span class="nexFrame"><img src="img/nextbtn.png" alt=""></span>
        </div>
      </li>
      <li onclick="mysolutionFn()">
        <div class="solutionCont">
          <span class="frame"><img src="img/checklogo.png" alt=""></span>
          <span class="frame1"><img src="img/acchecklogo.png" alt=""></span>
          <p>내 안전솔루션 확인하기</p>
          <span class="nexFrame"><img src="img/nextbtn.png" alt=""></span>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- 안전솔루션요청 페이지 End -->