  <!-- 안전뉴스 페이지 (건축법규) -->
  <div class="savenewsLAWPage">
    <div class="contHead">
      <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
      <span class="headerFont">안전뉴스</span>
    </div>
    <div class="newsClass">
      <ul class="clearfix">
        <li onclick="savenewsALLFn()">
          <p>전체보기</p>
        </li>
        <li onclick="savenewsLAWFn()">
          <p class="on">건축법규</p>
        </li>
        <li onclick="savenewsTECHFn()">
          <p>건축기법</p>
        </li>
        <li onclick="savenewsDISFn()">
          <p>재해예방가이드</p>
        </li>
      </ul>
    </div>
    <div class="saveNews">
      <ul>
        <!-- <li class="nodata">
          <span class="frame"><img src="img/nodata2.png" alt=""></span>
          <p>뉴스 내역이 없습니다.</p>
        </li> -->
        <!-- <li>
          <div class="newsCont">
            <p class="contTit">건축법규</p>
            <p class="contTxt">공사중단 장기방치 건축물의 정비 등에 관한 특별조치법 시행령</p>
            <span>2022-02-17</span>
          </div>
        </li>
        <li>
          <div class="newsCont">
            <p class="contTit">건축법규</p>
            <p class="contTxt">공사중단 장기방치 건축물의 정비 등에 관한 특별조치법 시행령</p>
            <span>2022-02-17</span>
          </div>
        </li>
        <li>
          <div class="newsCont">
            <p class="contTit">건축법규</p>
            <p class="contTxt">공사중단 장기방치 건축물의 정비 등에 관한 특별조치법 시행령</p>
            <span>2022-02-17</span>
          </div>
        </li>
        <li>
          <div class="newsCont">
            <p class="contTit">건축법규</p>
            <p class="contTxt">공사중단 장기방치 건축물의 정비 등에 관한 특별조치법 시행령</p>
            <span>2022-02-17</span>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
  <!-- 안전뉴스 페이지 (건축법규) End -->