<!-- 설정페이지2 -->
<div class="settingPage2">
  <div class="contHead">
    <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
    <span class="headerFont">설정</span>
  </div>
  <div class="setting">
    <ul>
      <li onclick="myPageFn()">
        <div class="setCont">
          <span class="frame"><img class="type1" src="img/myicon.png" alt=""><img src="img/acmyicon.png" alt="" class="type2"></span>
          <p>내정보</p> 
          <a href="#"><img src="img/nextbtn.png" alt=""></a>
        </div>
      </li>
      <li onclick="bellsetFn()">
        <div class="setCont">
          <span class="frame"><img class="type1" src="img/alarm.png" alt=""><img src="img/acalarm.png" alt="" class="type2"></span>
          <p>알림설정</p>
          <a href="#"><img src="img/nextbtn.png" alt=""></a>
        </div>
      </li>
      <li onclick="tersconfFn()">
        <div class="setCont">
          <span class="frame"><img class="type1" src="img/terms.png" alt=""><img src="img/acterms.png" alt="" class="type2"></span>
          <p>약관확인</p>
          <a href="#"><img src="img/nextbtn.png" alt=""></a>
        </div>
      </li>
      <li onclick="versionFn()">
        <div class="setCont">
          <span class="frame"><img class="type1" src="img/version.png" alt=""><img src="img/acversion.png" alt="" class="type2"></span>
          <p>버전정보</p>
          <a href="#"><img src="img/nextbtn.png" alt=""></a>
        </div>
      </li>
      <!-- <li onclick="logoutpopFn()"> -->
      <li onclick="logoutpopFn()">
        <div class="setCont">
          <span class="frame"><img class="type1" src="img/logouticon.png" alt=""><img src="img/aclogouticon.png" alt="" class="type2"></span>
          <p>로그아웃</p>
          <a href="#"><img src="img/nextbtn.png" alt=""></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- 설정페이지2 end-->