<!-- 설정페이지1 -->
<div class="settingPage1">
  <div class="contHead">
    <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
    <span class="headerFont">설정</span>
  </div>
  <div class="setting">
    <ul>
      <li>
        <div class="setCont">
          <span class="frame"><img class="type1" src="img/not.png" alt=""><img class="type2" src="img/acnot.png" alt=""></span>
          <p>공지사항</p>
          <a href="#"><img src="img/nextbtn.png" alt=""></a>
        </div>
      </li>
      <li>
        <div class="setCont">
          <span class="frame"><img class="type1" src="img/inqu.png" alt=""><img class="type2" src="img/acinqu.png" alt=""></span>
          <p>문의하기</p>
          <a href="#"><img src="img/nextbtn.png" alt=""></a>
        </div>
      </li>
      <li>
        <div class="setCont">
          <span class="frame"><img class="type1" src="img/event.png" alt=""><img src="img/acevent.png" alt="" class="type2"></span>
          <p>이벤트</p>
          <a href="#"><img src="img/nextbtn.png" alt=""></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- 설정페이지1 end-->