  <!-- 대기중인 안전솔루션 페이지  -->
  <div class="solutioningPage">
    <div class="contHead">
      <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
      <span class="headerFont">대기중인 안전솔루션</span>
    </div>
    <div class="solutioning">
      <ul>
        <!-- <li class="nodata">
          <span class="frame"><img src="img/nodata1.png" alt=""></span>
          <p>요청 내역이 없습니다.</p>
        </li> -->
        <!-- <li onclick="soldetailFn()">
          <div class="contArea">
            <div class="topCont">
              <img src="img/t2.jpg" alt="">
            </div>
            <div class="btmCont">
              <div class="txtArea">
                <p>건물종류<span>전원주택</span></p>
                <p>사용GDST<span>50</span></p>
                <p>신청일<span>2022.02.16</span></p>
              </div>
            </div>
          </div>
        </li>
        <li onclick="soldetailFn()">
          <div class="contArea">
            <div class="topCont">
              <img src="img/t5.jpg" alt="">
            </div>
            <div class="btmCont">
              <div class="txtArea">
                <p>건물종류<span>전원주택</span></p>
                <p>사용GDST<span>50</span></p>
                <p>신청일<span>2022.02.16</span></p>
              </div>
            </div>
          </div>
        </li>
        <li onclick="soldetailFn()">
          <div class="contArea">
            <div class="topCont">
              <img src="img/t1.jpg" alt="">
            </div>
            <div class="btmCont">
              <div class="txtArea">
                <p>건물종류<span>전원주택</span></p>
                <p>사용GDST<span>50</span></p>
                <p>신청일<span>2022.02.16</span></p>
              </div>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
  <!-- 대기중인 안전솔루션 페이지 End -->