<!-- 솔루션 안내 팝업 -->
<div class="solutionPop">
  <div class="shadow"></div>
  <div class="logoutCont">
    <div class="frame"><img src="img/waringicon.png" alt=""></div>
    <p>내 건물 안전솔루션 요청 시,</p>
    <p>최소 <span>50GDST</span>가 차감됩니다.</p>
    <div class="warTxt">
      <span class="frame1"><img src="img/war.png" alt=""></span>
      <span>요청 후 차감된 GDST는 반환되지 않습니다.</span>
    </div>
    <ul class="clearfix">
      <li><a href="#" onclick="backButton(this)">취소</a></li>
      <li><a href="#" onclick="solution1Fn()">확인</a></li>
    </ul>
  </div>
</div>
<!-- 솔루션 안내 팝업 End -->