  <!-- 안전솔루션2 페이지 -->
  <!-- <div class="solutionPage2">
    <div class="contHead">
      <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
      <span class="headerFont">안전솔루션 요청</span>
    </div>
    <div class="solution">
      <p class="tit1">진단 받고 싶은</p>
      <p class="tit2"><span>건물 이미지</span>를 등록해주세요</p>
      <p class="tit3">사진등록 <span>(최소2장)</span></p>
      <p class="tit4">건물 외관이 잘 보이는 사진을 올려주세요</p>
      <div class="imgControl">
        <ul class="mainImg">
          <li onclick="solutionIMG1mnu()" class="on">

            <span class="frame"><img src="img/imgBase.png" alt="" id="soluImg1"></span>
          </li>
          <li onclick="solutionIMG2mnu()" class="on">

            <span class="frame"><img src="img/imgBase.png" alt="" id="soluImg2"></span>
          </li>
          <li onclick="solutionIMG3mnu()" class="sub">

            <span class="frame"><img src="img/imgBase.png" alt="" id="soluImg3"></span>
          </li>
          <li onclick="solutionIMG4mnu()" class="sub">
            <span class="frame"><img src="img/imgBase.png" alt="" id="soluImg4"></span>
          </li>
          <li onclick="solutionIMG5mnu()" class="sub">
            <span class="frame"><img src="img/imgBase.png" alt="" id="soluImg5"></span>
          </li>
          <li onclick="solutionIMG6mnu()" class="sub">
            <span class="frame"><img src="img/imgBase.png" alt="" id="soluImg6"></span>
          </li>
        </ul>
      </div>
      <div class="nexBtn">
        <a href="#" class="">다음</a>
      </div>
    </div>
  </div> -->
  <!-- 안전솔루션2 페이지 End -->



    <!-- 안전솔루션2 페이지 220714 수정 완료 -->
    <div class="solutionPage2" style="display: block;">
      <div class="contHead">
        <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
        <span class="headerFont">안전솔루션 요청</span>
      </div>
      <div class="solution">
        <div class="txtbox">
          <p class="tit1">진단 받고 싶은</p>
          <p class="tit2"><span>건물 이미지</span>를 등록해주세요</p>
          <p class="tit3">사진등록 <span class="notitxt">(최소2장)</span></p>
          <p class="tit4">건물 외관이 잘 보이는 사진을 올려주세요<span class="nowNum"><em>0</em> / 15</span></p>
        </div>
  
        <div class="imgControl">
          <div class="imginputBtn">
            <a href="#" onclick="solutionIMGmnu()"><span class="frame"><img src="img/plus.png" alt=""></span></a>
          </div>
          <div class="imglistArea">
            <ul>
              <!-- <li>
                <div class="imgCont">
                  <span class="frame"><img src="img/t1.jpg" alt=""></span>
                  <a href="#" class="clseBtn"><span class="clseframe"><img src="img/imgclse.png" alt=""></span></a>
                </div>
              </li>
              <li>
                <div class="imgCont">
                  <span class="frame"><img src="img/t2.jpg" alt=""></span>
                  <a href="#" class="clseBtn"><span class="clseframe"><img src="img/imgclse.png" alt=""></span></a>
                </div>
              </li>
              <li>
                <div class="imgCont">
                  <span class="frame"><img src="img/t2.PNG" alt=""></span>
                  <a href="#" class="clseBtn"><span class="clseframe"><img src="img/imgclse.png" alt=""></span></a>
                </div>
              </li>
              <li>
                <div class="imgCont">
                  <span class="frame"><img src="img/t3.jpg" alt=""></span>
                  <a href="#" class="clseBtn"><span class="clseframe"><img src="img/imgclse.png" alt=""></span></a>
                </div>
              </li>
              <li>
                <div class="imgCont">
                  <span class="frame"><img src="img/t5.jpg" alt=""></span>
                  <a href="#" class="clseBtn"><span class="clseframe"><img src="img/imgclse.png" alt=""></span></a>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="nexBtn">
        <a href="#" class="">다음</a>
      </div>
    </div>
    <!-- 안전솔루션2 페이지 End -->