  <!-- 대기중인 안전솔루션 상세 페이지 -->
  <div class="solutiondetailpage">
    <div class="contHead">
      <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
      <span class="headerFont">대기중인 안전솔루션</span>
    </div>
    <div class="solutiondetail">
      <div class="topCont">
        <div id="touchSlider1">
          <ul>
            <!-- <li>
              <span class="frame"><img src="img/t3.jpg" alt=""></span>
            </li>
            <li>
              <span class="frame"><img src="img/t2.png" alt=""></span>
            </li>
            <li>
              <span class="frame"><img src="img/t5.jpg" alt=""></span>
            </li>
            <li>
              <span class="frame"><img src="img/t8.jpg" alt=""></span>
            </li> -->
          </ul>
        </div>
        <div class="slider-controls">
          <div class="slider-count"></div>
        </div>
      </div>
      <div class="txtArea">
        <ul class="clearfix">
          <!-- <li>
            <p>신청일</p>
          </li>
          <li>
            <p>건물종류</p>
          </li>
          <li>
            <p>사용GDST</p>
          </li>
        </ul>
        <ul class="clearfix">
          <li>
            <span>2022.02.16</span>
          </li>
          <li>
            <span>전원주택</span>
          </li>
          <li>
            <span>50</span>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
  <!-- 대기중인 안전솔루션 상세 페이지 End -->