  <!-- 건축기법 상세페이지 -->
  <div class="techdetailPage">
    <div class="contHead">
      <a href="#" class="backpage" onclick="backButton(this)"><img src="img/backpage.png" alt=""></a>
      <span class="headerFont">건축기법</span>
    </div>
    <div class="techdetail">
      <!-- <div class="topCont">
        <p class="txtTit">건축기법<span>2022-02-17</span></p>
        <p class="txtCont">드론을 활용한 비탈면 및 도로포장 관리 효율화 기술 개발 접이식 컨테이너 기술개발 두둥탁</p>
      </div>
      <div class="btmCont">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesenti
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium quo recusandae nemo laudantium harum vel
          sit illum officiis tempora aliquam repellendus, maxime veniam esse assumenda? Impedit harum explicabo quis
          eum.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium quo recusandae nemo laudantium harum vel
          sit illum officiis tempora aliquam repellendus, maxime veniam esse assumenda? Impedit harum explicabo quis
          eum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, autem natus. Quod, recusandae reiciendis,
          minima consequuntur esse vitae, placeat et libero atque nihil iusto ut molestias molestiae impedit ex?
          Assumenda!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati unde neque consequuntur voluptatem odio ex
          facilis alias placeat ducimus eligendi, ad libero quibusdam vitae. Culpa autem dolorum incidunt quibusdam
          aperiam.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repudiandae, est eligendi saepe omnis,
          dolorum reprehenderit consequuntur, neque odit nobis laborum nostrum porro. Totam nostrum modi necessitatibus
          quis atque debitis?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti a libero culpa expedita? Fugit vitae
          officiis earum minima, assumenda deleniti, quos porro inventore eveniet numquam natus voluptate ex, maiores
          repudiandae.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, tenetur odit rem repellat quidem esse eum
          natus? Eaque rerum, non expedita dicta dolor debitis fuga libero illo quasi, iusto enim!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolores maxime mollitia earum laudantium
          sit, autem impedit vel omnis perferendis, alias reprehenderit vitae iste! Sunt quidem illo magnam eos enim?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nostrum vero exercitationem aliquam. Est
          beatae ratione consectetur iste explicabo veritatis pariatur repellendus numquam fugit. Facere autem officia
          repudiandae magnam voluptas.
          um quo recusandae nemo laudantium harum vel sit illum officiis tempora aliquam repellendus, maxime veniam esse
          assumenda? Impedit harum explicabo quis eum.</p>
      </div> -->
    </div>
    <script>
      $(function () {
        var scHeight = $("#ele").prop("scrollHeight");
        $("#ele").height(scHeight)
        console.log("높이는", scHeight);
      })
    </script>
  </div>
  <!-- 건축법규 상세페이지 End -->